<nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">CITAS</a>
      </div>
      <div class="collapse navbar-collapse" id="subenlaces">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Perfil<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Cerrar sesion</a></li>
            </ul>
          </li>
          <li><a href="">Consultar citas</a></li>
          <li><a href="">Comprobar citas</a></li>
          <li><a href="">Datos del civil solicitante</a></li>
          <li><a href="">Pasaportes por tramitar</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row top_30">
      <div class="col-md-8">
        <div id="msg_1" class="alert alert-danger" style="display: none;"></div>
      </div>
      </div>
       <br>
       <br>
       <br>
      <div class="container">
          <div class="row">
            <div class="col-md-8">
              <ol class="breadcrumb">
                  <li><a href="#">
                  <i class="icon icon-user"></i></a></li>
                  <li><a href="../home">Inicio</a></li>
                  <li class="active">
                    <a href="./home">Informacion Personal</a>
                  </li>
                </ol>
            </div>
          </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2>Informacion de Citas</h2>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                <form class="center" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
              </div>
          </div>
      </div>
     <div class="container">
      <div class="row">
        <div class="col-md-8">   
            <table class="table table-bordered" >
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Curp</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido Paterno</th>
                      <th scope="col">Apellido Materno</th>
                      <th scope="col">Lugar de Nacimiento</th>
                      <th scope="col">Fecha de Nacimiento</th>
                      <th scope="col">Nacionalidad</th>
                      <th scope="col">Direccion</th>
                      <th scope="col">Telefono</th>
                      <th scope="col">Telefono Opcional</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Oficina</th>
                      <th scope="col">Paperwork</th>
                      <th scope="col">Documento de Identificacion</th>
                      <th scope="col">Documento de Identificacion_URL</th>
                      <th scope="col">Documento de nacionalidad</th>
                      <th scope="col">Documento de nacionalidad_URL</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let cita of cita_data">
                    <tr>
                      <td>{{ cita.id }}</td>
                      <td>{{ cita.id_user }}</td>
                      <td>{{ cita.name}}</td>
                      <td>{{ cita.first_surname}}</td>
                      <td>{{ cita. second_surname}}</td>
                      <td>{{ cita. born_country}}</td>
                      <td>{{ cita. born_date}}</td>
                      <td>{{ cita.nationality}}</td>
                      <td>{{ cita.address}}</td>
                      <td>{{ cita.telephone}}</td>
                      <td>{{ cita.optional_telephone}}</td>
                      <td>{{ cita.state}}</td>
                      <td>{{ cita.office}}</td>
                      <td>{{ cita.office_paperwork}}</td>
                      <td>{{ cita.identification_document}}</td>
                      <td>{{ cita.identification_document_url}}</td>
                      <td>{{ cita.nationality_document}}</td>
                      <td>{{ cita.nationality_document_url}}</td>
                      <td>
                        <button type="button" class="btn btn-warning" >Revisar Cita</button>
                        
                      </td>
                    </tr>
              </table>
        </div>
      </div>
      </div>
      <br>
      <br>
