<div class="row top_30">
    <div class="col-md-8">
      <div id="msg_1" class="alert alert-danger" style="display: none;"></div>
    </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-md-8">
        <br>
        <br>
        <h3 class="bottom-buffer">Compruebe los datos</h3>
      </div>
    </div>
    <div class="container">
    <div class="col-md-8">
      <form    class="form-horizontal" role="form">

          <div class="form-group">
            <label class="col-sm-3 control-label" for="curp">CURP</label>
            <div class="col-sm-9">
              <input class="form-control" 
                    type="text"
                    name= "curp"
                    id="curp" 
                    placeholder="CURP" >
                    
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label" for="name">Nombre</label>
            <div class="col-sm-9">
              <input class="form-control" 
                    type="text"
                    name= "name"
                    id="name" 
                    placeholder="Nombre" >
                    
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label" for="apellido">Apellido Paterno </label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "first_surname"
                    id="first_surname" 
                    placeholder="Apellido Paterno" >
                    
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="apellido">Apellido Materno </label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "second_surname"
                    id="second_surname" 
                    placeholder="Apellido Materno" >
                    
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="lugar">Lugar de Naciemiento </label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "born_country"
                    id="born_country" 
                    placeholder="Lugar de Naciemiento">
                    
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="fecha">Fecha de Nacimiento </label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "born_date"
                    id="born_date" 
                    placeholder="Fecha de Nacimiento" >
                    
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="nacionalidad">Nacionalidad </label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "nationality"
                    id="nationality" 
                    placeholder="Nacionalidad">
                    
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="direccion">Direccion</label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "address"
                    id="address" 
                    placeholder="Direccion" >
                    
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="telefono">Telefono </label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "telephone"
                    id="telephone" 
                    placeholder="Telefono">
                    
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="opcional">Telefono Opcional</label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "optional_telephone"
                    id="optional_telephone" 
                    placeholder="Telefono Opcional" >
                    
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="estado">Estado</label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "state:"
                    id="state:" 
                    placeholder="Estado" >
                    
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="oficina">Oficina</label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "office"
                    id="office" 
                    placeholder="Oficina" >
                    
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="opcional">Telefono Opcional</label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "optional_telephone"
                    id="optional_telephone" 
                    placeholder="Telefono Opcional" >
                    
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="paperwork">Paperwork</label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "office_paperwork"
                    id="office_paperwork" 
                    placeholder="Papework" >
                    
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="identi">Identificacion</label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "identification_document"
                    id="identification_document" 
                    placeholder="Identificacion" >
                    
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="idenURL">Identificacion URL</label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "identification_document_url"
                    id="identification_document_url" 
                    placeholder="IdentificacionURL">
                    
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="acta">Acta</label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "nationality_document"
                    id="nationality_document" 
                    placeholder="Papework" >
                    
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="actaURL">ActaURL</label>
            <div class="col-sm-9">
              <input class="form-control"
                    type="text"
                    name= "nationality_document_url"
                    id="nationality_document_url" 
                    placeholder="Papework" >
                    
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-9">
          <button type="button" class="btn btn-danger">Guardar</button>
        </div>
        </div>
      </form>
      </div>
    </div>
         
        </div>
        <br>
        <br>


